#projects .container {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: center;
  justify-items: center;
  gap: 40px;
}
.card {
  transition: 300ms;
  position: relative;
  margin: 2% 2%;
  height: 350px;
  width: 550px;
}
.card:hover {
  scale: .985;
}
.card h3 {
  color: var(--main-bg);
  cursor: pointer;
}
.card h3:hover {
  color: black;
}
img {
  height: inherit;
  width: inherit;
}
.overlay {
  transition: 300ms;
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--overlay);
  opacity: 0;
}
.show i:hover {
  color: black;
  cursor: pointer;
}
.show {
  transition: 300ms;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--overlay);
  opacity: .9;
}
@media (max-width:1160px) {
  #projects .container {
    grid-template-columns: min-content;
  }
  .card {
    transition: 300ms;
    height: auto;
    width: 550px
  }
}
@media (max-width:500px) {
  .card {
    transition: 300ms;
    height: auto;
    width: 320px;
  }
  .overlay h3 {
    font-size: xx-large;
  }
  .show h3 {
    font-size: xx-large;
  }
}