:root {
  --main-bg: #373f51;
  --highlight: #3eff8b;
  --nav-buttons: #f3d3bd;
  --overlay: #86bbd8;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-bg);
  height: 12vh;
  min-height: fit-content;
  width: 100%;
  color: #f3d3bd;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
}
i {
  color: var(--main-bg);
  transition: 300ms;
  margin: 2%;
}
footer i:hover {
  color: var(--overlay);
  cursor: pointer;
  transition: 300ms;
  scale: 1.1;
}
h1 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-self: center;
  text-wrap: nowrap;
  padding-left: 2%;
  margin-right: 2.5%;
  font-weight: 500;
  font-size: 4rem;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  padding-left: 10%;
  justify-content: flex-start;
  width: 100%;
  padding-right: 2%;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
nav li {
  border-radius: 10px;
  padding: 0 2% 0 2%;
  margin: 1%;
}
nav li:hover {
  cursor: pointer;
}
.active {
  box-shadow: inset 0 2px 4px 1px rgba(0, 0, 0, 0.3);
  background-color: #232733;
}
@media (max-width: 1200px) {
  header {
    justify-content: center;
    flex-wrap: wrap;
  }
  nav {
    width: 100%;
    padding: 0;
    font-size: medium;
    /* position: relative;
    top: 0;
    left: 0; */
  }
}
/* @media (max-height: 680px) {
  header {
    min-height: fit-content;
  }
} */
