#projects .container {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: center;
  justify-items: center;
  gap: 40px;
}
.card {
  transition: 300ms;
  position: relative;
  margin: 2% 2%;
  height: 350px;
  width: 550px;
}
.card:hover {
  scale: .985;
}
h3 {
  cursor: pointer;
}
h3:hover {
  text-decoration: underline;
  color: var(--main-bg);
}
img {
  height: inherit;
  width: inherit;
}
.overlay {
  transition: 300ms;
  visibility: hidden;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--overlay);
  opacity: 0.5;
}
.show i:hover {
  scale: 1.2;
  cursor: pointer;
}
.show {
  transition: 300ms;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--overlay);
  opacity: 0.9;
  scale: .98;
}
@media (max-width:1160px) {
  #projects .container {
    grid-template-columns: min-content;
  }
  .card {
    transition: 300ms;
    height: auto;
    width: 450px
  }
}
@media (max-width:500px) {
  .card {
    transition: 300ms;
    height: auto;
    width: 300px;
  }
}